.username {
  width: 250px;
}

.password {
  width: 250px;
}

.button {
  width: 100px;
}
.todobox{
  width: 800px;
  height: 400px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}



a.button {
    padding: 1px 6px;
    border: 10px outset buttonborder;
    border-radius: 25px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;

}